<launch>
    <node name="node_odometry" pkg="rosserial_python" type="serial_node.py" args="/dev/rosnode_nanoA" respawn="true" />
    <node name="node_imu" pkg="rosserial_python" type="serial_node.py" args="/dev/rosnode_ardzero" respawn="true" />
    <node name="node_sonar" pkg="rosserial_python" type="serial_node.py" args="/dev/rosnode_sonar" respawn="true" />
    <node name="node_infrared" pkg="rosserial_python" type="serial_node.py" args="/dev/rosnode_nanoC" respawn="true" />
    <!--node name="avc_quadrature_convert" pkg="avc" type="avc_quadrature_convert" respawn="true" /-->
    <!--node name="avc_range_convert" pkg="avc" type="avc_range_convert" respawn="true" /-->
    <!--node name="node_gps" pkg="">
</launch>
